{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'base.html' %}
{%block styles %}
    {{super()}}
    {{ simplemde.css}}
    {{ simplemde.js }}

{% endblock %} 

{% block body %}
<div class="container-fluid" style="display: flex; justify-content:center; align-items:center;background:#0C2B35;">
    <div class="card" style="width: 40%;padding:3rem;margin:2rem 0 32.1rem 0;">
        {{wtf.quick_form(form)}}
        <div class="comments" style="border: dashed #0C2B35; margin-top:2rem;padding:0.5rem;">
            <h6>Comments</h6>
            <ul>
                {% if all_comments %}
                {% for comment in all_comments %}
                <div class="row">
                    <div class="d-flex justify-content-between"
                        style="background-color: #bbb8c142; color:#356372;width:80%;padding:0.5rem;margin:0.5rem;border-radius:0.25rem;">
                        <p>{{ comment.description }}</p> 
                        <p>Posted by: ~{{comment.user.username}}~</p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p style="color:#356372;">No comments yet!</p>
                {%endif%}
            </ul>
        </div>
    </div>
</div>

{% endblock %}